*{
    box-sizing: border-box;
}
body{
    color: black;
}
#sidebar{
    padding-top: 29px;
    width: 20%;
    padding-left:  19px;
    margin: 0;
    float: left;
}
#products{
    width: 70%;
    padding: 0px !important;
    margin: 0;
    float: right;
    margin-right: 125px;
}
ul{
    list-style: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
li a{
    color: black;
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
    color: darksalmon;
}
.fa-circle{
    font-size: 20px;
}
#red{
    color: #e94545d7;
}
#teal{
    color: rgb(69, 129, 129);
}
#blue{
    color: #0000ff;
}

.filter{
    display: none;
    padding: 0;
    margin: 0;
}

@media(min-width:991px){
    .navbar-nav{
        margin-left: 35%;
    }
    .nav-item{
        padding-left: 20px;
    }

    .card-img-top{
        width: 400px;
        height: 259px;
        object-fit: cover;


    }
    #mobile-filter{
        display: none;
    }
}
@media(min-width:768px) and (max-width:991px){
    .navbar-nav{
        margin-left: 20%;
    }
    .nav-item{
        padding-left: 10px;
    }

    .card-img-top{
        width: 230px;
        height: 210px;

    }
    #mobile-filter{
        display: none;
    }
}
@media(min-width:568px) and (max-width:767px){
    .navbar-nav{
        margin-left: 20%;
    }
    .nav-item{
        padding-left: 10px;
    }

    .card-img-top{
        width: 203px;
        height: 210px;

    }
    .fa-circle{
        font-size: 15px;
    }
    #mobile-filter{
        display: none;
    }
}
@media(max-width:567px){
    .navbar-nav{
        margin-left: 0%;
    }
    .nav-item{
        padding-left: 10px;
    }
    #sidebar{
        padding-top: 29px;
        width: 100%;
        padding-left: 19px;
        margin: 0;
        float: left;
    }
    #products{
        width: 100%;
        padding: 5px;
        margin: 0;
        float: right;
    }

    .card-img-top{
        width: 230px;
        height: 210px;
        object-fit: contain;
    }
    .list-group-item{
        padding: 3px;
    }
    .offset-1{
        margin-left: 8%;
    }
    .filter{
        display: block;
        margin-left: 70%;
        margin-top: 2%;
    }
    #sidebar{
        display: none;
    }
    #mobile-filter{
        padding: 10px;
    }
}